/* 4 - External CSS */
body {
      padding-bottom: 500px;
}

h3 {
    color: green;
}

/* 5 - Ordem css */

p {
    color:blue;
}

/* 7 - Algum comentário */
/* Outro comentário */
/* Para colocar o comentário rapido pode usar as teclas de atalho, exemplo: CTRL + ; */

/* 8 - Classes */
.paragraph{
    background-color: #000;
    color:aqua;
    padding: 5px;
}

/* 9 - Ids */
#exclusive-title{
    background-color: purple;
    color:yellow;
    padding: 10px;
    font-size: 40px;
}

/* 10 - Ordem das regras */
h2 {
    border-bottom: 2px solid red;
}

.titulo{
    border-bottom: 4px solid blue;
}

#algum-titulo{
    border-bottom: 6px solid green;
}

/* 11 - Nome de cores */
.color-name {
    color:crimson;
}

/* 12 - Hexadecimal */
.hex{
    color: #002233;
}

.hex-2{
    color: #2a3ab3;
}

/* 13 - mais sobre o hexadecimal */
.simple-hex{
    color: #333;
}

.simple-hex-2{
    color: #A5F;
}

/* 14 - RGB */
.text-rgb{
    color: rgb(200, 100, 100);
}

.text-rgb-2{
    color: rgb(100,100,200);
}